ul {
    color: green;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;
    width: 300px;
    margin: 15px auto;
    background-color: lightgreen;
    border-radius: 10px;
    border: 5px rgb(0, 129, 86) solid;
}

section {
    background-color: dodgerblue;
    padding: 15px;
    font-size: 25px;
    border-radius: 10px;
    color: white;
    text-align: center;
    
}

ol {
    color: blue;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;
    width: 300px;
    margin: 15px auto;
    background-color: lightsteelblue;
    border-radius: 10px;
    border: 5px rgb(0, 110, 129) solid;
}

header {
    background-color: forestgreen;
    padding: 15px;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    color: white;
}
li {
    padding: 3px;
}
a {
    text-decoration: none;
}
