h1 {
    background-color: forestgreen;
    padding: 30px;
    border-radius: 10px;
    
}

.peliculasDesordenadas {
    color: green;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    background-color: dodgerblue;
    padding: 20px;
    border-radius: 10px;
}
.peliculasOrdenadas {
    color: blue;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

